* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1080px;
}

header {
    height: 80px;
    background-image: url(../img/pattern.png);
    background-size: 25%;
    background-color: hsl(211.69deg 100% 65.1%);
    position: relative;
}

.logo {
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

div {
    padding: 5px;
}

h1 {
    font-size: 40px;
}

.scrittoda {
    color: hsl(0deg 0% 51.37%);
}

.autore {
    color: hsl(194.86deg 46.78% 54.31%);
}

.data {
    font-size: small;
    color: hsl(0deg 0% 51.37%);
}

.tim {
    height: 350px;
}

figure {
    margin-top: 5px;
    margin-bottom: 10px;
}

figcaption {
    font-size: small;
}

ul {
    margin-top: 20px;
    margin-left: 30px;
}